USE [master]
GO
/****** Object:  Database [ClientManagementDemo]    Script Date: 25/11/2025 12:03:49 ******/
CREATE DATABASE [ClientManagementDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClientManagementDemo', FILENAME = N'C:\Repos\ClientManagementWebforms-master\DB\ClientManagementDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClientManagementDemo_log', FILENAME = N'C:\Repos\ClientManagementWebforms-master\DB\ClientManagementDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClientManagementDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClientManagementDemo]
GO
/****** Object:  Table [dbo].[Asset]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset](
	[AssetId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[AssetType] [nvarchar](50) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[Provider] [nvarchar](200) NULL,
	[AsOf] [datetime2](3) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Email] [nvarchar](254) NULL,
	[Phone] [nvarchar](30) NULL,
	[StatusLookupValueId] [int] NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenditure]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenditure](
	[ExpenditureId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[AmountMonthly] [decimal](18, 2) NOT NULL,
	[AsOf] [datetime2](3) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenditureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Income]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Income](
	[IncomeId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[Source] [nvarchar](50) NOT NULL,
	[AmountMonthly] [decimal](18, 2) NOT NULL,
	[AsOf] [datetime2](3) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IncomeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journal]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journal](
	[JournalId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[NoteTypeLookupValueId] [int] NOT NULL,
	[OccurredAt] [datetime2](3) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JournalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Liability]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liability](
	[LiabilityId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[LiabilityType] [nvarchar](50) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Rate] [decimal](9, 4) NULL,
	[AsOf] [datetime2](3) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LiabilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lookup]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lookup](
	[LookupId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LookupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupValue]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupValue](
	[LookupValueId] [int] IDENTITY(1,1) NOT NULL,
	[LookupId] [int] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Label] [nvarchar](200) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LookupValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asset_Client_AsOf]    Script Date: 25/11/2025 12:03:49 ******/
CREATE NONCLUSTERED INDEX [IX_Asset_Client_AsOf] ON [dbo].[Asset]
(
	[ClientId] ASC,
	[AsOf] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 25/11/2025 12:03:49 ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Client]
(
	[LastName] ASC,
	[FirstName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Client_Status]    Script Date: 25/11/2025 12:03:49 ******/
CREATE NONCLUSTERED INDEX [IX_Client_Status] ON [dbo].[Client]
(
	[StatusLookupValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Client_Email]    Script Date: 25/11/2025 12:03:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Client_Email] ON [dbo].[Client]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expenditure_Client_AsOf]    Script Date: 25/11/2025 12:03:49 ******/
CREATE NONCLUSTERED INDEX [IX_Expenditure_Client_AsOf] ON [dbo].[Expenditure]
(
	[ClientId] ASC,
	[AsOf] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Income_Client_AsOf]    Script Date: 25/11/2025 12:03:49 ******/
CREATE NONCLUSTERED INDEX [IX_Income_Client_AsOf] ON [dbo].[Income]
(
	[ClientId] ASC,
	[AsOf] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Journal_Client_OccurredAt]    Script Date: 25/11/2025 12:03:49 ******/
CREATE NONCLUSTERED INDEX [IX_Journal_Client_OccurredAt] ON [dbo].[Journal]
(
	[ClientId] ASC,
	[OccurredAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Liability_Client_AsOf]    Script Date: 25/11/2025 12:03:49 ******/
CREATE NONCLUSTERED INDEX [IX_Liability_Client_AsOf] ON [dbo].[Liability]
(
	[ClientId] ASC,
	[AsOf] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Lookup_Code]    Script Date: 25/11/2025 12:03:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Lookup_Code] ON [dbo].[Lookup]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupValue_Lookup_Sort]    Script Date: 25/11/2025 12:03:49 ******/
CREATE NONCLUSTERED INDEX [IX_LookupValue_Lookup_Sort] ON [dbo].[LookupValue]
(
	[LookupId] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_LookupValue_Lookup_Code]    Script Date: 25/11/2025 12:03:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_LookupValue_Lookup_Code] ON [dbo].[LookupValue]
(
	[LookupId] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asset] ADD  DEFAULT (sysutcdatetime()) FOR [AsOf]
GO
ALTER TABLE [dbo].[Asset] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Expenditure] ADD  DEFAULT (sysutcdatetime()) FOR [AsOf]
GO
ALTER TABLE [dbo].[Expenditure] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Income] ADD  DEFAULT (sysutcdatetime()) FOR [AsOf]
GO
ALTER TABLE [dbo].[Income] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Journal] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Liability] ADD  DEFAULT (sysutcdatetime()) FOR [AsOf]
GO
ALTER TABLE [dbo].[Liability] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lookup] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Lookup] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LookupValue] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[LookupValue] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LookupValue] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD FOREIGN KEY([StatusLookupValueId])
REFERENCES [dbo].[LookupValue] ([LookupValueId])
GO
ALTER TABLE [dbo].[Expenditure]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Journal]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Journal]  WITH CHECK ADD FOREIGN KEY([NoteTypeLookupValueId])
REFERENCES [dbo].[LookupValue] ([LookupValueId])
GO
ALTER TABLE [dbo].[Liability]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[LookupValue]  WITH CHECK ADD FOREIGN KEY([LookupId])
REFERENCES [dbo].[Lookup] ([LookupId])
GO
/****** Object:  StoredProcedure [dbo].[__NormalizePaging]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[__NormalizePaging]
  @PageNumber INT OUTPUT,
  @PageSize   INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  IF @PageNumber IS NULL OR @PageNumber < 1 SET @PageNumber = 1;
  IF @PageSize   IS NULL OR @PageSize   < 1 OR @PageSize > 500 SET @PageSize = 25;
END
GO
/****** Object:  StoredProcedure [dbo].[Asset_Create]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asset_Create]
  @ClientId  INT,
  @AssetType NVARCHAR(50),
  @Value     DECIMAL(18,2),
  @Provider  NVARCHAR(200) = NULL,
  @AsOf      DATETIME2(3)  = NULL
AS
BEGIN
  SET NOCOUNT ON;
  IF @AsOf IS NULL SET @AsOf = SYSUTCDATETIME();

  INSERT INTO dbo.Asset (ClientId, AssetType, [Value], Provider, AsOf, CreatedAt)
  VALUES (@ClientId, @AssetType, @Value, @Provider, @AsOf, SYSUTCDATETIME());

  DECLARE @AssetId INT = SCOPE_IDENTITY();
  SELECT a.* FROM dbo.Asset a WHERE a.AssetId = @AssetId;
END
GO
/****** Object:  StoredProcedure [dbo].[Asset_Delete]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asset_Delete]
  @AssetId INT
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM dbo.Asset WHERE AssetId = @AssetId;
END
GO
/****** Object:  StoredProcedure [dbo].[Asset_Read]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asset_Read]
  @AssetId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT a.* FROM dbo.Asset a WHERE a.AssetId = @AssetId;
END
GO
/****** Object:  StoredProcedure [dbo].[Asset_Search]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ASSET_Search fix */
CREATE PROCEDURE [dbo].[Asset_Search]
  @ClientId INT = NULL,
  @AssetType NVARCHAR(50) = NULL,
  @FromUtc DATETIME2(3) = NULL,
  @ToUtc   DATETIME2(3) = NULL,
  @PageNumber INT = 1,
  @PageSize   INT = 25,
  @SortBy  NVARCHAR(50) = N'AsOf',
  @SortDir NVARCHAR(4)  = N'DESC'
AS
BEGIN
  SET NOCOUNT ON;
  EXEC dbo.__NormalizePaging @PageNumber OUTPUT, @PageSize OUTPUT;

  ;WITH src AS (
    SELECT a.*
    FROM dbo.Asset a
    WHERE (@ClientId IS NULL OR a.ClientId = @ClientId)
      AND (@AssetType IS NULL OR a.AssetType = @AssetType)
      AND (@FromUtc IS NULL OR a.AsOf >= @FromUtc)
      AND (@ToUtc   IS NULL OR a.AsOf <= @ToUtc)
  )
  SELECT *
  FROM src
  ORDER BY
    CASE WHEN @SortBy = N'AsOf'      AND @SortDir = N'ASC'  THEN AsOf      END ASC,
    CASE WHEN @SortBy = N'AsOf'      AND @SortDir = N'DESC' THEN AsOf      END DESC,
    CASE WHEN @SortBy = N'Value'     AND @SortDir = N'ASC'  THEN [Value]   END ASC,
    CASE WHEN @SortBy = N'Value'     AND @SortDir = N'DESC' THEN [Value]   END DESC,
    CASE WHEN @SortBy = N'CreatedAt' AND @SortDir = N'ASC'  THEN CreatedAt END ASC,
    CASE WHEN @SortBy = N'CreatedAt' AND @SortDir = N'DESC' THEN CreatedAt END DESC,
    AssetId DESC
  OFFSET (@PageNumber - 1) * @PageSize ROWS
  FETCH NEXT @PageSize ROWS ONLY;

  SELECT TotalCount = COUNT(*)
  FROM (
    SELECT 1 AS [x]
    FROM dbo.Asset a
    WHERE (@ClientId IS NULL OR a.ClientId = @ClientId)
      AND (@AssetType IS NULL OR a.AssetType = @AssetType)
      AND (@FromUtc IS NULL OR a.AsOf >= @FromUtc)
      AND (@ToUtc   IS NULL OR a.AsOf <= @ToUtc)
  ) t;
END
GO
/****** Object:  StoredProcedure [dbo].[Asset_Update]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asset_Update]
  @AssetId   INT,
  @AssetType NVARCHAR(50)  = NULL,
  @Value     DECIMAL(18,2) = NULL,
  @Provider  NVARCHAR(200) = NULL,
  @AsOf      DATETIME2(3)  = NULL
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.Asset
    SET AssetType = COALESCE(@AssetType, AssetType),
        [Value]   = COALESCE(@Value, [Value]),
        Provider  = COALESCE(@Provider, Provider),
        AsOf      = COALESCE(@AsOf, AsOf)
  WHERE AssetId = @AssetId;

  SELECT a.* FROM dbo.Asset a WHERE a.AssetId = @AssetId;
END
GO
/****** Object:  StoredProcedure [dbo].[Client_Create]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Client_Create]
  @FirstName NVARCHAR(150),
  @LastName  NVARCHAR(150),
  @DateOfBirth DATE        = NULL,
  @Email     NVARCHAR(254) = NULL,
  @Phone     NVARCHAR(30)  = NULL,
  @StatusLookupValueId INT = NULL
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    INSERT INTO dbo.Client (FirstName, LastName, DateOfBirth, Email, Phone, StatusLookupValueId, CreatedAt, UpdatedAt)
    VALUES (@FirstName, @LastName, @DateOfBirth, @Email, @Phone, @StatusLookupValueId, SYSUTCDATETIME(), SYSUTCDATETIME());

    DECLARE @ClientId INT = SCOPE_IDENTITY();

    SELECT c.*
    FROM dbo.Client c
    WHERE c.ClientId = @ClientId;
  END TRY
  BEGIN CATCH
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Client_Delete]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Client_Delete]
  @ClientId INT,
  @Force BIT = 0   -- when 1, cascade-delete children first
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    IF @Force = 1
    BEGIN
      DELETE FROM dbo.Journal     WHERE ClientId = @ClientId;
      DELETE FROM dbo.Asset       WHERE ClientId = @ClientId;
      DELETE FROM dbo.Liability   WHERE ClientId = @ClientId;
      DELETE FROM dbo.Income      WHERE ClientId = @ClientId;
      DELETE FROM dbo.Expenditure WHERE ClientId = @ClientId;
    END
    ELSE
    BEGIN
      IF EXISTS (SELECT 1 FROM dbo.Journal     WHERE ClientId = @ClientId) OR
         EXISTS (SELECT 1 FROM dbo.Asset       WHERE ClientId = @ClientId) OR
         EXISTS (SELECT 1 FROM dbo.Liability   WHERE ClientId = @ClientId) OR
         EXISTS (SELECT 1 FROM dbo.Income      WHERE ClientId = @ClientId) OR
         EXISTS (SELECT 1 FROM dbo.Expenditure WHERE ClientId = @ClientId)
      BEGIN
        RAISERROR('Client has related records. Use @Force = 1 to cascade delete.', 16, 1);
        RETURN;
      END
    END

    DELETE FROM dbo.Client WHERE ClientId = @ClientId;
  END TRY
  BEGIN CATCH
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Client_Read]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Client_Read]
  @ClientId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT c.* FROM dbo.Client c WHERE c.ClientId = @ClientId;
END
GO
/****** Object:  StoredProcedure [dbo].[Client_Search]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* CLIENT_Search fix */
create PROCEDURE [dbo].[Client_Search]
  @Search NVARCHAR(200) = NULL,
  @StatusLookupValueId INT = NULL,
  @DobFrom DATE = NULL,
  @DobTo   DATE = NULL,
  @PageNumber INT = 1,
  @PageSize   INT = 25,
  @SortBy  NVARCHAR(50) = N'CreatedAt',
  @SortDir NVARCHAR(4)  = N'DESC'
AS
BEGIN
  SET NOCOUNT ON;

  EXEC dbo.__NormalizePaging @PageNumber OUTPUT, @PageSize OUTPUT;

  ;WITH src AS (
    SELECT
      c.ClientId, c.FirstName, c.LastName, c.DateOfBirth, c.Email, c.Phone,
      c.StatusLookupValueId, c.CreatedAt, c.UpdatedAt
    FROM dbo.Client c
    WHERE (@Search IS NULL OR
           c.FirstName LIKE '%' + @Search + '%' OR
           c.LastName  LIKE '%' + @Search + '%' OR
           c.Email     LIKE '%' + @Search + '%')
      AND (@StatusLookupValueId IS NULL OR c.StatusLookupValueId = @StatusLookupValueId)
      AND (@DobFrom IS NULL OR c.DateOfBirth >= @DobFrom)
      AND (@DobTo   IS NULL OR c.DateOfBirth <= @DobTo)
  )
  SELECT *
  FROM src
  ORDER BY
    CASE WHEN @SortBy = N'LastName'  AND @SortDir = N'ASC'  THEN LastName  END ASC,
    CASE WHEN @SortBy = N'LastName'  AND @SortDir = N'DESC' THEN LastName  END DESC,
    CASE WHEN @SortBy = N'FirstName' AND @SortDir = N'ASC'  THEN FirstName END ASC,
    CASE WHEN @SortBy = N'FirstName' AND @SortDir = N'DESC' THEN FirstName END DESC,
    CASE WHEN @SortBy = N'Email'     AND @SortDir = N'ASC'  THEN Email     END ASC,
    CASE WHEN @SortBy = N'Email'     AND @SortDir = N'DESC' THEN Email     END DESC,
    CASE WHEN @SortBy = N'CreatedAt' AND @SortDir = N'ASC'  THEN CreatedAt END ASC,
    CASE WHEN @SortBy = N'CreatedAt' AND @SortDir = N'DESC' THEN CreatedAt END DESC,
    ClientId DESC
  OFFSET (@PageNumber - 1) * @PageSize ROWS
  FETCH NEXT @PageSize ROWS ONLY;

  SELECT TotalCount = COUNT(*)
  FROM (
    SELECT 1 AS [x]
    FROM dbo.Client c
    WHERE (@Search IS NULL OR
           c.FirstName LIKE '%' + @Search + '%' OR
           c.LastName  LIKE '%' + @Search + '%' OR
           c.Email     LIKE '%' + @Search + '%')
      AND (@StatusLookupValueId IS NULL OR c.StatusLookupValueId = @StatusLookupValueId)
      AND (@DobFrom IS NULL OR c.DateOfBirth >= @DobFrom)
      AND (@DobTo   IS NULL OR c.DateOfBirth <= @DobTo)
  ) t;
END
GO
/****** Object:  StoredProcedure [dbo].[Client_Update]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Client_Update]
  @ClientId INT,
  @FirstName NVARCHAR(150) = NULL,
  @LastName  NVARCHAR(150) = NULL,
  @DateOfBirth DATE        = NULL,
  @Email     NVARCHAR(254) = NULL,
  @Phone     NVARCHAR(30)  = NULL,
  @StatusLookupValueId INT = NULL
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    UPDATE dbo.Client
      SET FirstName = COALESCE(@FirstName, FirstName),
          LastName  = COALESCE(@LastName,  LastName),
          DateOfBirth = COALESCE(@DateOfBirth, DateOfBirth),
          Email     = COALESCE(@Email, Email),
          Phone     = COALESCE(@Phone, Phone),
          StatusLookupValueId = COALESCE(@StatusLookupValueId, StatusLookupValueId),
          UpdatedAt = SYSUTCDATETIME()
    WHERE ClientId = @ClientId;

    SELECT c.* FROM dbo.Client c WHERE c.ClientId = @ClientId;
  END TRY
  BEGIN CATCH
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_ClientsByAge_Bad]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Dashboard_ClientsByAge_Bad]
  @MinAge INT = NULL,
  @MaxAge INT = NULL
AS
BEGIN
  SET NOCOUNT ON;

  /*============================================================================
  Name: dbo.Dashboard_ClientsByAge_Bad
  Purpose (What to return):
    Part A – Detailed rows
      - One row per client with calculcated age and assigned age band.
      - Columns:
          ClientId     INT
          FirstName    NVARCHAR(150)
          LastName     NVARCHAR(150)
          DateOfBirth  DATE
          AgeYears     INT            -- floor(DATEDIFF(DAY)/365.25)
          AgeBand      NVARCHAR(10)   -- '00-34','35-44','45-54','55-64','65+'
    Part B – Summary rows
      - One row per AgeBand with counts.
      - Columns:
          AgeBand      NVARCHAR(10)
          ClientCount  INT

  Parameters:
    @MinAge INT = NULL  -- optional filter to include only clients >= MinAge
    @MaxAge INT = NULL  -- optional filter to include only clients <= MaxAge

  Data criteria (Intent):
    - Compute age from DateOfBirth at query time (no persisted column).
    - Assign bands: <35, 35-44, 45-54, 55-64, 65+.
    - Respect optional age min/max filters.
    - Return the detailed result set first, then the banded summary as a second result set.
    - Sort detailed rows by AgeYears DESC, then by name; summary sorted by band label.

  Notes to candidate:
    - The shape is "rows + banded counts". A persisted/derived age or better SARGability is fine.
============================================================================*/

  -- Part A: detailed table
  SELECT
    c.ClientId,
    c.FirstName,
    c.LastName,
    c.DateOfBirth,
    FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) AS AgeYears,  -- per-row calc
    CASE 
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) < 35 THEN '00-34'
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) BETWEEN 35 AND 44 THEN '35-44'
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) BETWEEN 45 AND 54 THEN '45-54'
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) BETWEEN 55 AND 64 THEN '55-64'
      ELSE '65+'
    END AS AgeBand
  FROM dbo.Client c
  WHERE c.DateOfBirth IS NOT NULL
    AND (@MinAge IS NULL OR FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) >= @MinAge)  -- intentional non-SARGable
    AND (@MaxAge IS NULL OR FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) <= @MaxAge)  -- intentional non-SARGable
  ORDER BY AgeYears DESC, c.LastName, c.FirstName;

  -- Part B: summary by band
  SELECT
    CASE 
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) < 35 THEN '00-34'
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) BETWEEN 35 AND 44 THEN '35-44'
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) BETWEEN 45 AND 54 THEN '45-54'
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) BETWEEN 55 AND 64 THEN '55-64'
      ELSE '65+'
    END AS AgeBand,
    COUNT(*) AS ClientCount
  FROM dbo.Client c
  WHERE c.DateOfBirth IS NOT NULL
    AND (@MinAge IS NULL OR FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) >= @MinAge)
    AND (@MaxAge IS NULL OR FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) <= @MaxAge)
  GROUP BY
    CASE 
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) < 35 THEN '00-34'
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) BETWEEN 35 AND 44 THEN '35-44'
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) BETWEEN 45 AND 54 THEN '45-54'
      WHEN FLOOR(DATEDIFF(DAY, c.DateOfBirth, GETDATE()) / 365.25) BETWEEN 55 AND 64 THEN '55-64'
      ELSE '65+'
    END
  ORDER BY AgeBand;
END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_EstimatedNetWorth_Bad]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Dashboard_EstimatedNetWorth_Bad]
  @TopN INT = 10,
  @MinAsOfDate DATE = NULL
AS
BEGIN
  SET NOCOUNT ON;

  /*============================================================================
  Name: dbo.Dashboard_EstimatedNetWorth_Bad
  Purpose (What to return):
    - Top @TopN clients by a simple "EstimatedNetWorth"
    - Columns:
        ClientId            INT
        FirstName           NVARCHAR(150)
        LastName            NVARCHAR(150)
        EstimatedNetWorth   DECIMAL(18,2)  -- SUM(Asset.Value) - SUM(Liability.Balance)
        TotalMonthlyIncome  DECIMAL(18,2)  -- SUM(Income.AmountMonthly) as a tie-breaker

  Parameters:
    @TopN INT = 10
    @MinAsOfDate DATE = NULL  -- if provided, only consider rows with AsOf >= this date

  Data criteria (Intent):
    - For each client:
        AssetsTotal    = sum of Asset.Value (optionally filtered by AsOf >= @MinAsOfDate)
        LiabilitiesTot = sum of Liability.Balance (same optional AsOf filter)
        EstimatedNetWorth = AssetsTotal - LiabilitiesTot
        TotalMonthlyIncome = sum of Income.AmountMonthly (optional AsOf filter)
    - Return the TOP @TopN by EstimatedNetWorth DESC, then by TotalMonthlyIncome DESC, then name.

  Notes to candidate:
    - Goal is "top net worth" list with an optional AsOf filter.
============================================================================*/

  SELECT TOP (@TopN)
    c.ClientId,
    c.FirstName,
    c.LastName,
    ISNULL((
      SELECT SUM(a.Value)
      FROM dbo.Asset a
      WHERE a.ClientId = c.ClientId
        AND (@MinAsOfDate IS NULL OR CONVERT(VARCHAR(10), a.AsOf, 23) >= CONVERT(VARCHAR(10), @MinAsOfDate, 23)) -- intentional non-SARGable
    ), 0.00)
    -
    ISNULL((
      SELECT SUM(l.Balance)
      FROM dbo.Liability l
      WHERE l.ClientId = c.ClientId
        AND (@MinAsOfDate IS NULL OR CONVERT(VARCHAR(10), l.AsOf, 23) >= CONVERT(VARCHAR(10), @MinAsOfDate, 23)) -- intentional non-SARGable
    ), 0.00) AS EstimatedNetWorth,
    ISNULL((
      SELECT SUM(i.AmountMonthly)
      FROM dbo.Income i
      WHERE i.ClientId = c.ClientId
        AND (@MinAsOfDate IS NULL OR CONVERT(VARCHAR(10), i.AsOf, 23) >= CONVERT(VARCHAR(10), @MinAsOfDate, 23)) -- intentional non-SARGable
    ), 0.00) AS TotalMonthlyIncome
  FROM dbo.Client c
  ORDER BY EstimatedNetWorth DESC, TotalMonthlyIncome DESC, c.LastName, c.FirstName;
END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_StaleClients_Bad]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Dashboard_StaleClients_Bad]
  @Days INT = 60
AS
BEGIN
  SET NOCOUNT ON;

  /*============================================================================
  Name: dbo.Dashboard_StaleClients_Bad
  Purpose (What to return):
    - Clients who have NOT had a journal entry in the last @Days days.
    - Columns:
        ClientId       INT
        FirstName      NVARCHAR(150)
        LastName       NVARCHAR(150)
        Email          NVARCHAR(254)
        Phone          NVARCHAR(30)
        LastJournalAt  DATETIME2(3)  -- latest journal time for that client (may be NULL)

  Parameters:
    @Days INT = 60     -- "stale" is defined as no journal >= cutoff (UTC now - @Days).

  Data criteria (Intent):
    - Compute a UTC cutoff of NOW - @Days.
    - Return all clients for whom there is no journal after the cutoff.
    - Include clients with zero journals ever (LastJournalAt will be NULL).
    - Sort by LastJournalAt ascending (NULLs first), then Client.CreatedAt ascending.

  Notes to candidate:
    - Output is "stale clients" + their last interaction (if any).
============================================================================*/

  DECLARE @Cut DATETIME2(3) = DATEADD(DAY, -@Days, SYSUTCDATETIME());

  SELECT
    c.ClientId,
    c.FirstName,
    c.LastName,
    c.Email,
    c.Phone,
    (SELECT MAX(j.OccurredAt) FROM dbo.Journal j WHERE j.ClientId = c.ClientId) AS LastJournalAt
  FROM dbo.Client c
  WHERE NOT EXISTS
  (
    SELECT 1
    FROM dbo.Journal j2
    WHERE j2.ClientId = c.ClientId
      AND CONVERT(VARCHAR(10), j2.OccurredAt, 23) >= CONVERT(VARCHAR(10), @Cut, 23) -- intentionally non-SARGable
  )
  ORDER BY
    LastJournalAt ASC,  -- NULLs naturally first in SQL Server
    c.CreatedAt ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard_StatusBreakdown_Bad]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Dashboard_StatusBreakdown_Bad]
AS
BEGIN
  SET NOCOUNT ON;

  /*============================================================================
  Name: dbo.Dashboard_StatusBreakdown_Bad
  Purpose (What to return):
    - One row per client status
    - Columns:
        StatusLabel   NVARCHAR(200)  -- human-friendly label of the status
        ClientCount   INT            -- number of clients in that status

  Data criteria (Intent):
    - Count ALL clients and group them by their current status.
    - Use the label from LookupValue for the code 'CLIENT_STATUS'.
    - Clients with NULL status should be included (label may render as NULL).
    - Sort by StatusLabel ascending.

  Notes to candidate:
    - Feel free to redesign. The essential output is "status label + count".
============================================================================*/

  SELECT
    (SELECT lv.Label FROM dbo.LookupValue lv WHERE lv.LookupValueId = ISNULL(c.StatusLookupValueId, 0)) AS StatusLabel,
    COUNT(*) AS ClientCount
  FROM (
    SELECT TOP 100 PERCENT c.StatusLookupValueId
    FROM dbo.Client c
    ORDER BY c.CreatedAt DESC  -- unnecessary presort
  ) c
  GROUP BY ISNULL(c.StatusLookupValueId, 0)
  ORDER BY 1; -- by computed label
END
GO
/****** Object:  StoredProcedure [dbo].[Expenditure_Create]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Expenditure_Create]
  @ClientId INT,
  @Category NVARCHAR(50),
  @AmountMonthly DECIMAL(18,2),
  @AsOf DATETIME2(3) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  IF @AsOf IS NULL SET @AsOf = SYSUTCDATETIME();

  INSERT INTO dbo.Expenditure (ClientId, Category, AmountMonthly, AsOf, CreatedAt)
  VALUES (@ClientId, @Category, @AmountMonthly, @AsOf, SYSUTCDATETIME());

  DECLARE @ExpenditureId INT = SCOPE_IDENTITY();
  SELECT e.* FROM dbo.Expenditure e WHERE e.ExpenditureId = @ExpenditureId;
END
GO
/****** Object:  StoredProcedure [dbo].[Expenditure_Delete]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Expenditure_Delete]
  @ExpenditureId INT
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM dbo.Expenditure WHERE ExpenditureId = @ExpenditureId;
END
GO
/****** Object:  StoredProcedure [dbo].[Expenditure_Read]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Expenditure_Read]
  @ExpenditureId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT e.* FROM dbo.Expenditure e WHERE e.ExpenditureId = @ExpenditureId;
END
GO
/****** Object:  StoredProcedure [dbo].[Expenditure_Search]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* EXPENDITURE_Search fix */
CREATE PROCEDURE [dbo].[Expenditure_Search]
  @ClientId INT = NULL,
  @Category NVARCHAR(50) = NULL,
  @FromUtc DATETIME2(3) = NULL,
  @ToUtc   DATETIME2(3) = NULL,
  @PageNumber INT = 1,
  @PageSize   INT = 25,
  @SortBy  NVARCHAR(50) = N'AsOf',
  @SortDir NVARCHAR(4)  = N'DESC'
AS
BEGIN
  SET NOCOUNT ON;
  EXEC dbo.__NormalizePaging @PageNumber OUTPUT, @PageSize OUTPUT;

  ;WITH src AS (
    SELECT e.*
    FROM dbo.Expenditure e
    WHERE (@ClientId IS NULL OR e.ClientId = @ClientId)
      AND (@Category IS NULL OR e.Category = @Category)
      AND (@FromUtc IS NULL OR e.AsOf >= @FromUtc)
      AND (@ToUtc   IS NULL OR e.AsOf <= @ToUtc)
  )
  SELECT *
  FROM src
  ORDER BY
    CASE WHEN @SortBy = N'AsOf'          AND @SortDir = N'ASC'  THEN AsOf          END ASC,
    CASE WHEN @SortBy = N'AsOf'          AND @SortDir = N'DESC' THEN AsOf          END DESC,
    CASE WHEN @SortBy = N'AmountMonthly' AND @SortDir = N'ASC'  THEN AmountMonthly END ASC,
    CASE WHEN @SortBy = N'AmountMonthly' AND @SortDir = N'DESC' THEN AmountMonthly END DESC,
    CASE WHEN @SortBy = N'CreatedAt'     AND @SortDir = N'ASC'  THEN CreatedAt     END ASC,
    CASE WHEN @SortBy = N'CreatedAt'     AND @SortDir = N'DESC' THEN CreatedAt     END DESC,
    ExpenditureId DESC
  OFFSET (@PageNumber - 1) * @PageSize ROWS
  FETCH NEXT @PageSize ROWS ONLY;

  SELECT TotalCount = COUNT(*)
  FROM (
    SELECT 1 AS [x]
    FROM dbo.Expenditure e
    WHERE (@ClientId IS NULL OR e.ClientId = @ClientId)
      AND (@Category IS NULL OR e.Category = @Category)
      AND (@FromUtc IS NULL OR e.AsOf >= @FromUtc)
      AND (@ToUtc   IS NULL OR e.AsOf <= @ToUtc)
  ) t;
END
GO
/****** Object:  StoredProcedure [dbo].[Expenditure_Update]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Expenditure_Update]
  @ExpenditureId INT,
  @Category NVARCHAR(50) = NULL,
  @AmountMonthly DECIMAL(18,2) = NULL,
  @AsOf DATETIME2(3) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.Expenditure
    SET Category = COALESCE(@Category, Category),
        AmountMonthly = COALESCE(@AmountMonthly, AmountMonthly),
        AsOf = COALESCE(@AsOf, AsOf)
  WHERE ExpenditureId = @ExpenditureId;

  SELECT e.* FROM dbo.Expenditure e WHERE e.ExpenditureId = @ExpenditureId;
END
GO
/****** Object:  StoredProcedure [dbo].[Income_Create]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Income_Create]
  @ClientId INT,
  @Source NVARCHAR(50),
  @AmountMonthly DECIMAL(18,2),
  @AsOf DATETIME2(3) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  IF @AsOf IS NULL SET @AsOf = SYSUTCDATETIME();

  INSERT INTO dbo.Income (ClientId, [Source], AmountMonthly, AsOf, CreatedAt)
  VALUES (@ClientId, @Source, @AmountMonthly, @AsOf, SYSUTCDATETIME());

  DECLARE @IncomeId INT = SCOPE_IDENTITY();
  SELECT i.* FROM dbo.Income i WHERE i.IncomeId = @IncomeId;
END
GO
/****** Object:  StoredProcedure [dbo].[Income_Delete]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Income_Delete]
  @IncomeId INT
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM dbo.Income WHERE IncomeId = @IncomeId;
END
GO
/****** Object:  StoredProcedure [dbo].[Income_Read]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Income_Read]
  @IncomeId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT i.* FROM dbo.Income i WHERE i.IncomeId = @IncomeId;
END
GO
/****** Object:  StoredProcedure [dbo].[Income_Search]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* INCOME_Search fix */
CREATE PROCEDURE [dbo].[Income_Search]
  @ClientId INT = NULL,
  @Source NVARCHAR(50) = NULL,
  @FromUtc DATETIME2(3) = NULL,
  @ToUtc   DATETIME2(3) = NULL,
  @PageNumber INT = 1,
  @PageSize   INT = 25,
  @SortBy  NVARCHAR(50) = N'AsOf',
  @SortDir NVARCHAR(4)  = N'DESC'
AS
BEGIN
  SET NOCOUNT ON;
  EXEC dbo.__NormalizePaging @PageNumber OUTPUT, @PageSize OUTPUT;

  ;WITH src AS (
    SELECT i.*
    FROM dbo.Income i
    WHERE (@ClientId IS NULL OR i.ClientId = @ClientId)
      AND (@Source IS NULL OR i.[Source] = @Source)
      AND (@FromUtc IS NULL OR i.AsOf >= @FromUtc)
      AND (@ToUtc   IS NULL OR i.AsOf <= @ToUtc)
  )
  SELECT *
  FROM src
  ORDER BY
    CASE WHEN @SortBy = N'AsOf'          AND @SortDir = N'ASC'  THEN AsOf          END ASC,
    CASE WHEN @SortBy = N'AsOf'          AND @SortDir = N'DESC' THEN AsOf          END DESC,
    CASE WHEN @SortBy = N'AmountMonthly' AND @SortDir = N'ASC'  THEN AmountMonthly END ASC,
    CASE WHEN @SortBy = N'AmountMonthly' AND @SortDir = N'DESC' THEN AmountMonthly END DESC,
    CASE WHEN @SortBy = N'CreatedAt'     AND @SortDir = N'ASC'  THEN CreatedAt     END ASC,
    CASE WHEN @SortBy = N'CreatedAt'     AND @SortDir = N'DESC' THEN CreatedAt     END DESC,
    IncomeId DESC
  OFFSET (@PageNumber - 1) * @PageSize ROWS
  FETCH NEXT @PageSize ROWS ONLY;

  SELECT TotalCount = COUNT(*)
  FROM (
    SELECT 1 AS [x]
    FROM dbo.Income i
    WHERE (@ClientId IS NULL OR i.ClientId = @ClientId)
      AND (@Source IS NULL OR i.[Source] = @Source)
      AND (@FromUtc IS NULL OR i.AsOf >= @FromUtc)
      AND (@ToUtc   IS NULL OR i.AsOf <= @ToUtc)
  ) t;
END
GO
/****** Object:  StoredProcedure [dbo].[Income_Update]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Income_Update]
  @IncomeId INT,
  @Source NVARCHAR(50) = NULL,
  @AmountMonthly DECIMAL(18,2) = NULL,
  @AsOf DATETIME2(3) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.Income
    SET [Source] = COALESCE(@Source, [Source]),
        AmountMonthly = COALESCE(@AmountMonthly, AmountMonthly),
        AsOf = COALESCE(@AsOf, AsOf)
  WHERE IncomeId = @IncomeId;

  SELECT i.* FROM dbo.Income i WHERE i.IncomeId = @IncomeId;
END
GO
/****** Object:  StoredProcedure [dbo].[Journal_Create]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Journal_Create]
  @ClientId INT,
  @NoteTypeLookupValueId INT,
  @OccurredAt DATETIME2(3),
  @Body NVARCHAR(MAX),
  @Author NVARCHAR(100) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.Journal (ClientId, NoteTypeLookupValueId, OccurredAt, Body, Author, CreatedAt)
  VALUES (@ClientId, @NoteTypeLookupValueId, @OccurredAt, @Body, @Author, SYSUTCDATETIME());

  DECLARE @JournalId INT = SCOPE_IDENTITY();
  SELECT j.* FROM dbo.Journal j WHERE j.JournalId = @JournalId;
END
GO
/****** Object:  StoredProcedure [dbo].[Journal_Delete]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Journal_Delete]
  @JournalId INT
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM dbo.Journal WHERE JournalId = @JournalId;
END
GO
/****** Object:  StoredProcedure [dbo].[Journal_Read]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Journal_Read]
  @JournalId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT j.* FROM dbo.Journal j WHERE j.JournalId = @JournalId;
END
GO
/****** Object:  StoredProcedure [dbo].[Journal_Search]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* JOURNAL_Search fix */
CREATE PROCEDURE [dbo].[Journal_Search]
  @ClientId INT = NULL,
  @NoteTypeLookupValueId INT = NULL,
  @FromUtc DATETIME2(3) = NULL,
  @ToUtc   DATETIME2(3) = NULL,
  @Search  NVARCHAR(400) = NULL,
  @PageNumber INT = 1,
  @PageSize   INT = 25,
  @SortBy  NVARCHAR(50) = N'OccurredAt',
  @SortDir NVARCHAR(4)  = N'DESC'
AS
BEGIN
  SET NOCOUNT ON;
  EXEC dbo.__NormalizePaging @PageNumber OUTPUT, @PageSize OUTPUT;

  ;WITH src AS (
    SELECT j.*
    FROM dbo.Journal j
    WHERE (@ClientId IS NULL OR j.ClientId = @ClientId)
      AND (@NoteTypeLookupValueId IS NULL OR j.NoteTypeLookupValueId = @NoteTypeLookupValueId)
      AND (@FromUtc IS NULL OR j.OccurredAt >= @FromUtc)
      AND (@ToUtc   IS NULL OR j.OccurredAt <= @ToUtc)
      AND (@Search IS NULL OR j.Body LIKE '%' + @Search + '%' OR j.Author LIKE '%' + @Search + '%')
  )
  SELECT *
  FROM src
  ORDER BY
    CASE WHEN @SortBy = N'OccurredAt' AND @SortDir = N'ASC'  THEN OccurredAt END ASC,
    CASE WHEN @SortBy = N'OccurredAt' AND @SortDir = N'DESC' THEN OccurredAt END DESC,
    CASE WHEN @SortBy = N'Author'     AND @SortDir = N'ASC'  THEN Author     END ASC,
    CASE WHEN @SortBy = N'Author'     AND @SortDir = N'DESC' THEN Author     END DESC,
    CASE WHEN @SortBy = N'CreatedAt'  AND @SortDir = N'ASC'  THEN CreatedAt  END ASC,
    CASE WHEN @SortBy = N'CreatedAt'  AND @SortDir = N'DESC' THEN CreatedAt  END DESC,
    JournalId DESC
  OFFSET (@PageNumber - 1) * @PageSize ROWS
  FETCH NEXT @PageSize ROWS ONLY;

  SELECT TotalCount = COUNT(*)
  FROM (
    SELECT 1 AS [x]
    FROM dbo.Journal j
    WHERE (@ClientId IS NULL OR j.ClientId = @ClientId)
      AND (@NoteTypeLookupValueId IS NULL OR j.NoteTypeLookupValueId = @NoteTypeLookupValueId)
      AND (@FromUtc IS NULL OR j.OccurredAt >= @FromUtc)
      AND (@ToUtc   IS NULL OR j.OccurredAt <= @ToUtc)
      AND (@Search IS NULL OR j.Body LIKE '%' + @Search + '%' OR j.Author LIKE '%' + @Search + '%')
  ) t;
END
GO
/****** Object:  StoredProcedure [dbo].[Journal_Update]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Journal_Update]
  @JournalId INT,
  @NoteTypeLookupValueId INT = NULL,
  @OccurredAt DATETIME2(3)   = NULL,
  @Body NVARCHAR(MAX)        = NULL,
  @Author NVARCHAR(100)      = NULL
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.Journal
    SET NoteTypeLookupValueId = COALESCE(@NoteTypeLookupValueId, NoteTypeLookupValueId),
        OccurredAt = COALESCE(@OccurredAt, OccurredAt),
        Body       = COALESCE(@Body, Body),
        Author     = COALESCE(@Author, Author)
  WHERE JournalId = @JournalId;

  SELECT j.* FROM dbo.Journal j WHERE j.JournalId = @JournalId;
END
GO
/****** Object:  StoredProcedure [dbo].[Liability_Create]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Liability_Create]
  @ClientId INT,
  @LiabilityType NVARCHAR(50),
  @Balance DECIMAL(18,2),
  @Rate    DECIMAL(9,4) = NULL,
  @AsOf    DATETIME2(3) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  IF @AsOf IS NULL SET @AsOf = SYSUTCDATETIME();

  INSERT INTO dbo.Liability (ClientId, LiabilityType, Balance, Rate, AsOf, CreatedAt)
  VALUES (@ClientId, @LiabilityType, @Balance, @Rate, @AsOf, SYSUTCDATETIME());

  DECLARE @LiabilityId INT = SCOPE_IDENTITY();
  SELECT l.* FROM dbo.Liability l WHERE l.LiabilityId = @LiabilityId;
END
GO
/****** Object:  StoredProcedure [dbo].[Liability_Delete]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Liability_Delete]
  @LiabilityId INT
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM dbo.Liability WHERE LiabilityId = @LiabilityId;
END
GO
/****** Object:  StoredProcedure [dbo].[Liability_Read]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Liability_Read]
  @LiabilityId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT l.* FROM dbo.Liability l WHERE l.LiabilityId = @LiabilityId;
END
GO
/****** Object:  StoredProcedure [dbo].[Liability_Search]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* LIABILITY_Search fix */
CREATE PROCEDURE [dbo].[Liability_Search]
  @ClientId INT = NULL,
  @LiabilityType NVARCHAR(50) = NULL,
  @FromUtc DATETIME2(3) = NULL,
  @ToUtc   DATETIME2(3) = NULL,
  @PageNumber INT = 1,
  @PageSize   INT = 25,
  @SortBy  NVARCHAR(50) = N'AsOf',
  @SortDir NVARCHAR(4)  = N'DESC'
AS
BEGIN
  SET NOCOUNT ON;
  EXEC dbo.__NormalizePaging @PageNumber OUTPUT, @PageSize OUTPUT;

  ;WITH src AS (
    SELECT l.*
    FROM dbo.Liability l
    WHERE (@ClientId IS NULL OR l.ClientId = @ClientId)
      AND (@LiabilityType IS NULL OR l.LiabilityType = @LiabilityType)
      AND (@FromUtc IS NULL OR l.AsOf >= @FromUtc)
      AND (@ToUtc   IS NULL OR l.AsOf <= @ToUtc)
  )
  SELECT *
  FROM src
  ORDER BY
    CASE WHEN @SortBy = N'AsOf'      AND @SortDir = N'ASC'  THEN AsOf      END ASC,
    CASE WHEN @SortBy = N'AsOf'      AND @SortDir = N'DESC' THEN AsOf      END DESC,
    CASE WHEN @SortBy = N'Balance'   AND @SortDir = N'ASC'  THEN Balance   END ASC,
    CASE WHEN @SortBy = N'Balance'   AND @SortDir = N'DESC' THEN Balance   END DESC,
    CASE WHEN @SortBy = N'CreatedAt' AND @SortDir = N'ASC'  THEN CreatedAt END ASC,
    CASE WHEN @SortBy = N'CreatedAt' AND @SortDir = N'DESC' THEN CreatedAt END DESC,
    LiabilityId DESC
  OFFSET (@PageNumber - 1) * @PageSize ROWS
  FETCH NEXT @PageSize ROWS ONLY;

  SELECT TotalCount = COUNT(*)
  FROM (
    SELECT 1 AS [x]
    FROM dbo.Liability l
    WHERE (@ClientId IS NULL OR l.ClientId = @ClientId)
      AND (@LiabilityType IS NULL OR l.LiabilityType = @LiabilityType)
      AND (@FromUtc IS NULL OR l.AsOf >= @FromUtc)
      AND (@ToUtc   IS NULL OR l.AsOf <= @ToUtc)
  ) t;
END
GO
/****** Object:  StoredProcedure [dbo].[Liability_Update]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Liability_Update]
  @LiabilityId INT,
  @LiabilityType NVARCHAR(50) = NULL,
  @Balance DECIMAL(18,2) = NULL,
  @Rate    DECIMAL(9,4) = NULL,
  @AsOf    DATETIME2(3) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.Liability
    SET LiabilityType = COALESCE(@LiabilityType, LiabilityType),
        Balance      = COALESCE(@Balance, Balance),
        Rate         = COALESCE(@Rate, Rate),
        AsOf         = COALESCE(@AsOf, AsOf)
  WHERE LiabilityId = @LiabilityId;

  SELECT l.* FROM dbo.Liability l WHERE l.LiabilityId = @LiabilityId;
END
GO
/****** Object:  StoredProcedure [dbo].[LookupValue_Search]    Script Date: 25/11/2025 12:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LookupValue_Search]
  @LookupCode NVARCHAR(100),         -- e.g., 'CLIENT_STATUS'
  @OnlyActive BIT = 1
AS
BEGIN
  SET NOCOUNT ON;
  SELECT lv.*
  FROM dbo.Lookup l
  JOIN dbo.LookupValue lv ON lv.LookupId = l.LookupId
  WHERE l.Code = @LookupCode
    AND (@OnlyActive = 0 OR lv.IsActive = 1)
  ORDER BY lv.SortOrder, lv.Label;
END
GO
USE [master]
GO
